name: P3P_Final_Scan
on:
  workflow_dispatch:
jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Multi_Thread_Brute
        id: scanner
        run: |
          W="https://p3p-scanner.1747138780.workers.dev"
          for p in $(seq 10000 60000 | shuf); do
            (
              res=$(curl -s --max-time 6 "$W/?port=$p")
              if [ "$res" = "OK" ]; then
                echo "$p" > result.txt
                pkill -P $$
              fi
            ) &
            if [[ $((p % 150)) -eq 0 ]]; then
              if [ -f result.txt ]; then break; fi
              wait
              sleep 1
            fi
          done
          if [ -f result.txt ]; then
            echo "p=$(cat result.txt)" >> $GITHUB_OUTPUT
          fi
      - name: Auto_Git_Push
        if: steps.scanner.outputs.p != ''
        run: |
          NP=${{ steps.scanner.outputs.p }}
          sed -i "s/focus169.org:[0-9]*/focus169.org:$NP/g" list.txt
          git config --local user.email "bot@github.com"
          git config --local user.name "P3P_Bot"
          git add list.txt
          git commit -m "Fix $NP" || exit 0
          git push
