name: 15分钟自动扫描对时更新

on:
  schedule:
    - cron: '*/15 * * * *'  #
  workflow_dispatch:

permissions:
  contents: write

jobs:
  run_update:
    runs-on: ubuntu-latest
    steps:
      - name: 检出代码
        uses: actions/checkout@v3
        with:
          fetch-depth: 0    # 必须设为0以支持 rebase 同步

      - name: 设置 Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: 运行扫描脚本
        run: python update_all.py

      - name: 提交并对时
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          
          if [ -n "$(git status --porcelain)" ]; then
            git add .
            # 解决 1000066642.jpg 报错的关键步骤
            git pull --rebase origin main
            git commit -m "自动更新对时: $(date +'%Y-%m-%d %H:%M:%S')"
            git push origin main
          else
            echo "无变动，跳过提交。"
          fi
